<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

	<hibernate-configuration>
		<session-factory>
			<property name="connection.driver.class">com.mysql.cj.jdbc.Driver</property>
		    <property name="connection.url">jdbc:mysql://localhost:3306/student</property>
		    <property name="connection.username">root</property>
		    <property name="connection.password">Nikunj@123</property>
		    <property name="hbm2ddl.auto">update</property>
		    <mapping resource="student.hbm.xml"/>
		</session-factory>
	
	</hibernate-configuration>