 
<body>
 

    <!-- about -->
        <div class="about">
            <div class="container">
                <div class="about-grids">
                    <div>
                        <div class="about-grd-rgt-grids">
                            <div class="about-grd-rgt-grid">
                                <div class="box maxheight"> 


                                    <img src="./assets/download.png">
                                </div>
                            </div>
                             
                             
                             
                        </div>
                        <h3>About Us</h3>
                        <div class="line"> 
                        </div>
                        <p class="aut">SIMPLI LEARN is the institute Known For Quality Education, Coaching Skills, Experience,Educating people from several years </p>
                        
                   
                     
      <p><b>OUR VISION</b></p>
    
     <p>Quality teaching with Evolved Learning and empowering him/her with knowledge to realise his potential and achieve his dream ambition.</p> 
     
    
    
      
    <br><p><b>WE BELIEVE IN:</b></p>
    <p>
    •Growth Of Student .<br>
    •Continuous Quality Developement.<br>
    •Overall Developement And Innovative Thinking. 
    </p>
                    </div>
                    
                    
                </div>
            </div>
        
    <!-- //about -->
    
    