<div class="jumbotron">
    <div class="container">
        
        <div style="width: 500px; margin: auto;">
            <div class="submit-form">
              <div *ngIf="!isBookAdded">
                <div class="form-group">
                  <label for="name">FirstName</label>
                  <input class="form-control" id="firstname" required [(ngModel)]="user.firstname" name="firstname"/>
                </div>
          
                <div class="form-group">
                    <label for="country">LastName</label>
                    <input class="form-control" id="lastname" required [(ngModel)]="user.lastname" name="lastname" />
                  </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input class="form-control" id="email" required [(ngModel)]="user.email" name="email" />
                </div>
          
               
                 <button (click)="createTodo()" class="btn btn-success">Create</button> 
              </div>
          
              <div *ngIf="isBookAdded">
                <h3>Data added SUccessFully</h3>
        
              </div>
            </div>
          </div>
    </div>
    
    
</div>
